.card {
  max-width: 300px;
}

.card-header {
  font-size: 2.5rem;
  line-height: 1.2;
  padding: 0.1rem;
}

.card-footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
